@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 16px 32px;
  padding: 0;
  min-height: 100vh;
  background-color: #111;
  font-family: 'Ubuntu Mono', monospace;
  font-style: normal;
  font-weight: 300;
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 80%;
}

h1 {
  font-size: 6em;
  color: #999;
}

h2 {
  font-size: 3em;
  color: #e08524;
}

h2 .subtitle {
  font-size: .5em;
  color: #999;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin-top: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li, ol li {
  padding: 8px 0;
}

li > span {
  margin-right: 8px;
}

a {
  color: #e08524;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: .3s ease-in-out;
}


/* Header and footer */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #111;
  position: sticky;
  top: 0;
  box-shadow: 0 0 16px 16px rgb(17 17 17 / 100%);
}

footer {
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: start;
  z-index: 1;
  padding: 16px 0;
  position: fixed;
  bottom: 0;
}

header * {
  color: white;
}


/* Navigation */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.submenu {
  display: none !important;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 8px !important;
  border-radius: 8px;
  border: 2px solid #111;
  margin: 0;
  list-style: none;
  gap: 0 !important;
  backdrop-filter: blur(2px);
}

.submenu a {
  text-wrap: nowrap;
}

.navigation li:hover .submenu {
  display: flex !important;
}

.navigation li .minus {
  display: none;
}

.navigation li:hover .plus {
  display: none;
}

.navigation li:hover .minus {
  display: block;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.navigation li {
  padding: 0;
  position: relative;
}

.submenu li {
  /* width: 200px; */
}

.social {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}

section img {
  max-width: 600px;
  border-radius: 16px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.social a img {
  max-width: 16px;
}

.nlink {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid transparent;
  text-align: end;
  transition: border .4s ease-in-out;
  text-decoration: none;
  color: white;
}

.nlink:hover {
  border-bottom: 2px solid #e08524;
}

.nlink:hover a {
  color: #e08524;
}

footer .social {
  padding: 16px;
}


/* Brand */

.brand {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #111;
  border-radius: 16px;
}

.brand:hover {
  opacity: .7;
}

.brand .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 32px;
  line-height: 100%;
}

.brand span {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}


/* Content */

main {
  margin: 128px 32px 200px 200px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

section {
  width: 100%;
  padding-top: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
  grid-auto-columns: min-content;
}

section div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section:target {
  animation: highlight 1s forwards;
}

@keyframes highlight {
  30% {
    padding-left: 64px;
  }

  100% {
    padding-left: 0;
  }
}

table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: transparent;
}

tr:hover td:not(.td-title) {
  background-color: rgb(204 204 204 / 20%);
}


/* Helpers */

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.col-between {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.sticky-top {
  position: sticky;
  top: 120px;
}

/* Posts */

.list-container {
  list-style: none;
  gap: 16px 16px;
  padding: 0;
  column-count: 2;
}

.card {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #000;
  break-inside: avoid;
}

.card article {
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card article h4 {
  color: #e08524;
}

.card article p {
  color: gray;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.tags span {
  background-color: rgb(204 204 204 / 20%);
  padding: 4px 8px;
  border-radius: 4px;
}

pre {
  background-color: rgb(250 235 215 / 5%);
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
  border: 1px solid rgb(211 211 211 / 1%);
}

.hljs {
  background-color: transparent !important;
  color: gray !important;
}


/* Form */

input, textarea {
  padding: 8px 16px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: transparent;
  color: white;
}

input[type="number"] {
  width: 30px;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea {
  resize: vertical;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-fields div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 16px;
}

.form-fields label, .form-fields div label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.btn-submit {
  padding: 7px 24px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 16px;
  border-style: inset;
  min-width: 140px;
}

.btn-submit:hover {
  background-color: #e08524;
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
}

summary {
  cursor: pointer;
  padding: 8px;
}

summary:hover {
  color: #e08524;
  transition: 0.3s ease-in-out;
}
